/*---------------------------------------------------
    LESS Elements 0.6
  ---------------------------------------------------
    A set of useful LESS mixins by Dmitry Fadeyev
    Special thanks for mixin suggestions to:
      Kris Van Herzeele,
      Benoit Adam,
      Portenart Emile-Victor,
      Ryan Faerman

    More info at: http://lesselements.com
-----------------------------------------------------*/
body {
  background-image: url(../img/light-tex.png);
}
h1 {
  font-family: 'Righteous', cursive;
}
.mk802-header {
  background-color: #45d251;
  border-bottom: 1px solid #999;
  color: white;
}
.mk802-header .mk804-logo {
  display: inline-block;
  float: left;
  margin-top: 48px;
}
.mk802-header .mk804-logo h1 {
  letter-spacing: 1px;
  display: inline-block;
  font-size: 50px;
}
.mk802-header .mk802-nav {
  margin-top: 40px;
  height: 45px;
}
.mk802-header .mk802-nav ul {
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  float: right;
  margin-right: 90px;
  padding: 10px;
  display: inline-block;
  background-color: #93f89b;
}
.mk802-header .mk802-nav ul li {
  margin: 0 5px;
}
.mk802-header .mk802-nav ul li a {
  background-color: white;
  font-size: 16px;
  font-weight: bold;
}
.mk802-header .row .product-image img {
  margin-left: 30px;
}
.mk802-header .row .wow-text {
  padding-top: 40px;
  height: 400px;
}
.mk802-header .row .wow-text h1 {
  font-family: 'Righteous', cursive;
  font-size: 90px;
}
.mk802-header .row .wow-text h2 {
  font-family: 'Righteous', cursive;
  padding-top: 30px;
  font-size: 50px;
}
.mk802-header .row .wow-text h3 {
  width: 390px;
  font-weight: normal;
  line-height: 20px;
  color: #2d8834;
  margin: 10px 0;
  font-size: 16px;
}
.mk802-header .row .wow-text .actions {
  margin-top: 20px;
}
.mk802-header .row .wow-text .actions .btn {
  font-size: 18px;
  padding: 15px 25px 15px;
}
.mk802-header .row .wow-text .actions .btn-primary {
  margin-left: 15px;
}
.mk802-section .container {
  padding: 20px;
  background-color: white;
  -webkit-box-shadow: 0 0 10px #666666;
  -moz-box-shadow: 0 0 10px #666666;
  box-shadow: 0 0 10px #666666;
}
.mk802-information .container {
  margin-top: -30px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.mk802-information .container .row h2 {
  font-family: 'Righteous', cursive;
}
.mk802-information .container .row .mk802-video-review {
  width: 640px;
  margin-left: auto;
  margin-right: auto;
}
.mk802-specifications .container {
  height: 1000px;
}
.mk802-buy .container {
  height: 1000px;
}
.mk802-section h1 {
  margin-left: 30px;
  font-size: 40px;
  letter-spacing: 1px;
}
