doctype 5
html(lang='en')
  head
    title MK802 Shop - your one stop shop for the MK802 Android mini PC on a stick
    link(href='http://fonts.googleapis.com/css?family=Righteous', rel='stylesheet', type='text/css')
    link(href='lib/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='css/style.css', rel='stylesheet')
    link(href='favicon.ico', rel='icon')
  body
    .mk802-header
      .container
        .mk804-logo
          h1 MK802 Shop
        .nav.mk802-nav
          ul.nav.nav-pills
            li
              a(href="#information") Information
            li
              a(href="#specifications") Specifications
            li
              a(href="#buy") Buy now
            li
              a(href="#contact") Contact
        .row
          .span6.product-image
            img(src='img/header-prod.png')
          .span6.wow-text
            h1 Android
            h2 MK802 Stick PC
            h3 Running Android 4.0, the MK802 Stick PC is designed for versatility and convenience.  The tiny 200 gram PC can plug directly into any HDMI output for an on the go media player, internet browser, game machine or general use.
            h3 The MK802 is available in 512MB and 1GB memory configurations.
            .actions
              a.btn(href="#specifications") Specifications
              a.btn.btn-primary(href="#buy") Buy now from $89
    .mk802-body
      .container
        .row
          .span3
            p content
        .row
          .span12
            .mk802-video-review
              iframe(width="640", height="480", src="http://www.youtube.com/embed/ZDyBs6Wuu1o", frameborder="0", allowfullscreen=true)
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    script(src='lib/bootstrap/js/bootstrap.min.js')
    script(src='js/script.js')
